* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Define o modelo de caixa para incluir padding e borda no tamanho total */
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Fonte para site */
.inter-<uniquifier> {

            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
            font-variation-settings:
                    "slnt" 0;
        }

/* Estilo da estrutura principal */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0 auto;
    max-width: 1080px;
    box-sizing: border-box; /* Garante que o body também use box-sizing border-box */
}

header {
    background-color: #1f1f1f;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
}
header img {
    max-width: 1080px;
    height: 130px;
}

.container {
    display: flex;
    min-height: 100vh;
}
main{
    background-color: #1e1e1e;
}
aside {
    background-color: #333;
    width: 300px;
    border-right: 1px solid #444; /* Simplificado para aplicar bordas em ambos os lados */
    box-sizing: border-box;
}
aside ul {
    list-style: none;
    padding: 0;
    height: 25px;
}
aside ul li {
    padding: 5px;
}
aside ul li a {
    text-decoration: none;
    color: #e0e0e0;
    height: 40px;
    padding: 10px;
}
aside ul li:hover a {
    color: #000;
}
aside ul li:hover {
    color: #000;
    background-color: #61C1D0;
    width: 100%; /* Amplia o li para 100% da largura do container */
}
aside ul li a {
    margin-left: 5px;
}
article {
    padding: 20px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #575757;
}

footer {
    border-top: 1px solid #444;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}
/* Estilos adicionais para colaboradores */
.colaborador-verificar {
    border: 1px solid #c21c1c;
}

.colaborador-info {
    display: flex;
    align-items: inherit;
}

.colaborador-info a {
    text-decoration: none;
    margin-left: 7px;
    color: #e0e0e0;
}

.colaborador-img {
    flex: 0 0 22%;
}

.colaborador-details {
    flex: 20 0 50%;
    font-size: 14px;
}
/* Estilos adicionais para equipamentos */
.equipamentos-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
img {
    max-width: 90%;
    height: 250px;
    border-radius: 7px;
    margin-bottom: 2px;
}
.equipamento {
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #555;
    border-radius: 6px;
    flex: 0 0 calc(26% - 5px) /* Calcule a largura com margem entre os itens */
    box-sizing: border-box; /* Aplicado para todos os elementos .equipamento */
}

.equipamento-danificados {
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #c21c1c;
    border-radius: 6px;
    flex: 0 0 calc(18% - 10px); /* Calcule a largura com margem entre os itens */
    box-sizing: border-box; /* Aplicado para todos os elementos .equipamento-danificados */
}

.serial {
    text-transform: uppercase;
}
/* Estilos adicionais para o ticker */
.ticket {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #555;
    background-color: #1e1e1e;
    border-radius: 6px;
    flex: 0 0 calc(18% - 10px); /* Calcule a largura com margem entre os itens */
}
/* Estilos adicionais para notebook */
.notebooks-info {
    display: flex;
    align-items: center;
}
.img {
    margin-right: 20px;
}
.notebooks-info img {
    height: 191px;
    width: 150px;
}

.colaborador-info a {
    text-decoration: none;
    margin-left: 7px;
    color: #e0e0e0;
}

.colaborador-img {
    flex: 0 0 22%;
}

.colaborador-details {
    flex: 0 0 58%;
    font-size: 14px;
}
/* Estilo dos status do stock */
.in-stock {
    background-color: #4CAF50;
}
.off {
    background-color: #eb3131;
}
/* Estilos adicionais para observações */
.obs {
    font-size: 12px;
    padding: 10px;
    border: 1px solid #555;
    background-color: #1e1e1e;
    border-radius: 5px;
}