/* FOMATAÇÃO GERAL PARA MARGIN E PADDING */
* {
    margin: 0;
    padding: 0;
  }
/* FOMATAÇÃO GERAL PARA TTITULOS E SERIAL */
.serial,
h2,
h3 {
    text-transform: uppercase;
}

  body {
    margin: 0 auto;
    width: 55%;
    min-width: 510px;
    background-color: #fff;
    color: #505050;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 0.8em;
  }
  
  header {
    background-color: #EDEDEE;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header img {
    max-width: 1080px;
    height: 130px;
  }
  /* MENU */
  nav {
    background-color: #EDEDEE;
  }
  .menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  .menu a {
    display: block;
    color: #505050;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
  }
  
  .menu li {
    position: relative;
  }

  .menu li a:hover{
    color: #E51519;
    text-transform: uppercase;
}
  
  .menu a,
  header {
    padding: 10px;
  }
  
  /* MENU DROP DOW */
  .dropdown:hover .dropdown-content,
  .menu a {
    display: block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: #EDEDEE;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #505050;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown .dropdown-content .dropdown {
    position: relative;
  }
  
  .dropdown .dropdown-content .dropdown-content {
    top: 0;
    left: 100%;
    margin-left: 1px;
    display: none;
  }
  
  .dropdown-content .dropdown:hover .dropdown-content {
    display: block;
  }
main{
  background-color:#EDEDEE;
}
/* Lista */
h2{
    margin-left: 10px;
    text-align: center;
    font-size: 24px;
}
table{
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
thead {
    background-color: #333;
    color: white;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    color: #fff;
}
/* tbody tr:nth-child(even) {
    background-color: #201b1b;
} */
 tr{
  background: #115964;
 }
tbody tr:hover{
  background: #007C8F;
}
/* footer */
  footer {
    margin-top: 10px;
    background-color: #EDEDEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
  }
  
  footer p {
    text-align: center;
  }
  
  footer .reserva {
    font-size: 0.9em;
    text-align: center;
    justify-items: center;
  }
  
  footer .version {
    font-size: 0.9em;
    color: #777;
  }
