body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.devices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Colunas com largura mínima de 250px */
    gap: 20px;
    padding: 10px;
    max-width: 700px;
    width: 85%; /* Largura máxima do container */
    margin: 0 auto; /* Centraliza o container */
}

.device {
    background-color: #f8f9fa;
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.device:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h3 {
    color: #007BFF;
}

footer {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    background: #008FEA;
}

.back-to-top {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.back-to-top:hover {
    text-decoration: underline;
}