/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Container Principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 86vh;
    width: 85%;
    margin: 0 auto;
}

/* Footer */
footer {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    background: #008FEA;
}