body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.card-box {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.caixa-card h2 {
    margin: 0;
    color: #34495e;
}

.caixa-red{
   border: 1px solid #66187c;
}

.equipamento-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.equipamento-card h3 {
    margin: 0;
    color: #2c3e50;
}

.equipamento-card p {
    margin: 5px 0;
    color: #7f8c8d;
}


.equipamento-card p strong {
    color: #2c3e50;
}

.equipamento-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.equipamento-card {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
}

.attention-info {
    background-color: #fff3cd;
    border-left: 5px solid #ffa502;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    color: #856404;
    font-weight: bold;
}

footer {
    margin-top: 10px;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    background: #008FEA;
}