/* FOMATAÇÃO GERAL PARA MARGIN E PADDING */
*{
    margin: 0;
    padding: 0;
}
/* FOMATAÇÃO GERAL PARA TTITULOS E SERIAL */
.serial, h2, h3 {
    text-transform: uppercase;
}
body {
    margin: 0 auto;
    width: 55%;
    background-color: #121212;
    color: #e0e0e0;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 0.8em;
}
header {
    background-color: #2c2c2c;
    box-sizing: border-box;
	display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    max-height: 100%; /* Ajuste conforme necessário */
    height: 130px;
}
nav {
    background-color: #2c2c2c;
    height: 40px;
}
                                    
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu a {    
    display: block;                                   
    color: #e0e0e0;                             
    text-decoration: none;
}
.menu li {                                      
    position: relative;
}
.menu a,
header {
    padding: 10px;
}
/* MENU DROP */
.dropdown:hover .dropdown-content,              
.menu a {                                     
    display: block;                             
}                                                 
.dropdown-content {                             
    display: none;                              
    position: absolute;                         
    background: #333;                           
    min-width: 160px;                           
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;                                 
}                                               
.dropdown-content a {                           
    color: #fff;                                
    padding: 15px 15px;
;
    text-decoration: none;                      
    display: block;                             
}                                               
.dropdown-content a:hover {                     
    background-color: #555;

}                                               
.dropdown:hover .dropdown-content {             
    display: block;
}                                               
.dropdown:hover {                               
    background-color: #444;                     
}                                               
.dropdown .dropdown-content .dropdown {         
    position: relative;                         
}                                               
.dropdown .dropdown-content .dropdown-content { 
    top: 0;                                     
    left: 100%;                                 
    margin-left: 1px;                           
    display: none;                              
}                                               
.dropdown-content .dropdown:hover .dropdown-cont{
    display: block;                             
}                                               
article{
    font-size: medium;
}
.objetivo{
    background-color: #2c2c2c;
    border-radius: 0 0 7px 7px;
}
.objetivo h1{
    text-align: center;
    color: #e0e0e0;
}
.objetivo p{
    text-align: center;
    color: #e0e0e0;
    padding-bottom: 5px;
}
section{
    margin: 10px 0px;
    border-radius: 7px;
    background-color: #2c2c2c;
    padding: 5px;
    color: #e0e0e0;
}
section h1{
    margin-left: 20px;
}
.obs p{
    margin-left: 35px;
}
footer {
    border-top: 1px solid #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2c2c2c;
    border-radius: 7px 7px 0px 0px;
}
footer p {
    text-align: center;
    color: #e0e0e0;
}
footer .reserva {
    font-size: 0.9em;
    text-align: center;
    justify-items: center;
}
footer .version {
    font-size: 0.9em;
    color: #e0e0e0;
}
