/* FOMATAÇÃO GERAL PARA MARGIN E PADDING */
* {
    margin: 0;
    padding: 0;
}



/* FOMATAÇÃO GERAL PARA TTITULOS E SERIAL */
.serial,
h2,
h3 {
    text-transform: uppercase;
}

main,
nav {
    width: 1200px;
    margin: 0 auto;
}

nav {
    background-color: #1c1c1c;
}

.menu a,
header {
    padding: 10px;

}

body {
    margin: 0 auto;
    width: 55%;
    min-width: 510px;
    background-color: #fff;
    color: #505050;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}



/* FOMATAÇÃO GERAL PARA TTITULOS E SERIAL */
.serial,
h2,
h3 {
    text-transform: uppercase;
}

body {
    margin: 0 auto;
    width: 55%;
    background-color: #121212;
    color: #e0e0e0;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 0.8em;
}

header {
    background-color: #EDEDEE;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 1080px;
    height: 130px;
}


/* MENU  */
nav {
    background-color: #EDEDEE;


    /* MENU  */
    nav {
        background-color: #1c1c1c;

    }


}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;
    color: #505050;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}

.menu li {
    position: relative;
}

< .menu li a:hover {
    color: #E51519;
    text-transform: uppercase;
}

.menu a,
header {
    padding: 10px;
}

.dropdown:hover .dropdown-content,
.menu a {
    display: block;
}

=======

/* MENU  */
nav {
    background-color: #1c1c1c;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;
    color: #505050;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}

.menu a {
    display: block;
}

.menu li {
    position: relative;
}

.menu li a:hover {
    color: #E51519;
    text-transform: uppercase;
}

.menu a,
header {
    padding: 10px;
}


/* MENU DROP DOW */
.dropdown:hover .dropdown-content {

    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #EDEDEE;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {

    color: #505050;

    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD color: #E10003;
    =======background-color: #555;
    > > > > > > > 08f7099 (13.0.0)=======color: #E10003;
    > > > > > > > 60c6525 (13.1.0)=======color: #E10003;
    > > > > > > > 0b1b11f7ef4e0b28c386fe1d194cac85e4b73fbf
}

.dropdown:hover .dropdown-content {
    display: block;
    <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD color: #E10003;
}

.dropdown:hover {
    color: #E10003;
    =======
}

.dropdown:hover {
    background-color: #444;
    > > > > > > > 08f7099 (13.0.0)=======color: #E10003;
}

.dropdown:hover {
    color: #E10003;
    > > > > > > > 60c6525 (13.1.0)
}

=======color: #E10003;
}

.dropdown:hover {
    color: #E10003;
}

> > > > > > > 0b1b11f7ef4e0b28c386fe1d194cac85e4b73fbf .dropdown .dropdown-content .dropdown {
    position: relative;
}

.dropdown .dropdown-content .dropdown-content {
    top: 0;
    left: 100%;
    margin-left: 1px;
    display: none;
}

.dropdown-content .dropdown:hover .dropdown-content {
    display: block;
}

<<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD
/* CONTEUDO */
.ativo,
===================== > > > > > > > 50aef2a (12.20.5)

/* CONTEUDO */
.ativo,
.desativados {
    =======

    /* CONTEUDO */
    .ativo,
    .desativados {
        > > > > > > > 08f7099 (13.0.0) justify-content: center;
        background-color: #37B4C8;
        border-radius: 0 0 10px 10px;
        margin-bottom: 10px;
        color: beige;
    }

    .desativados {
        background-color: #D53E36;
        border-radius: 10px;
        margin-top: 10px;
    }

    <<<<<<< HEAD > > > > > > > dd37b51 (12.18.1) article {
        =======article {
            > > > > > > > 08f7099 (13.0.0) padding: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            border: 1px dashed #666;
            background-color: #EDEDEE;
            border-radius: 8px;
            box-sizing: content-box;
        }

        .colaborador-info {
            display: flex;
            align-items: inherit;
        }

        <<<<<<< HEAD <<<<<<< HEAD > > > > > > > ab50fde (12.12.0) .desativados {
            justify-content: center;
            <<<<<<< HEAD=======

            /* CONTEUDO */
            .ativo,
            .desativados {
                justify-content: center;
                > > > > > > > 0b1b11f7ef4e0b28c386fe1d194cac85e4b73fbf background-color: #37B4C8;
                border-radius: 0 0 10px 10px;
                margin-bottom: 10px;
                color: beige;
                <<<<<<< HEAD=======background-color: #b71c1c;
                border-radius: 10px;
                > > > > > > > ad7d512 (12.15.0)======= > > > > > > > 0b1b11f7ef4e0b28c386fe1d194cac85e4b73fbf
            }

            .desativados {
                background-color: #D53E36;
                border-radius: 10px;
                margin-top: 10px;

                <<<<<<< HEAD============== > > > > > > > 08f7099 (13.0.0) img.foto {
                    height: 170px;
                    width: 175px;
                    border-radius: 7px;
                    margin-bottom: 2px;
                }

                .colaborador-details {

                    margin-left: 10px;
                    margin-right: 10px;
                    font-size: 10px
                }

                .equipamentos-info {
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;
                    font-size: 10px;
                }

                .equipamento {
                    font-size: 0.8em;
                    border: 1px solid #444;
                    flex: 4 4;
                    box-sizing: border-box;
                    border-radius: 6px;
                    padding: 7px 10px 7px 10px;
                }

                .equipamento-danificados {
                    font-size: 0.8em;
                    border: 1.5px solid #969696;
                    background-color: #CF3931;
                    flex: 4 4;
                    box-sizing: border-box;
                    border-radius: 6px;
                    padding: 7px 10px 7px 10px;
                    color: #FFFFFF;
                }

                .equipamento-not-devolvido {
                    font-size: 0.8em;
                    border: 1.5px solid #969696;
                    background-color: #CF3931;
                    color: #fff;
                    flex: 4 4;
                    box-sizing: border-box;
                    border-radius: 6px;
                    padding: 7px 10px 7px 10px;
                }

                .ticket {
                    margin-top: 1%;
                    font-size: 0.8em;
                    background-color: #EDEDEE;
                    border: 1px solid #444;
                    padding: 7px 10px 7px 10px;
                    border-radius: 6px;
                }

                footer {
                    <<<<<<< HEAD background-color: #1c1c1c;
                    > > > > > > > dd37b51 (12.18.1)
                }

                <<<<<<< HEAD=======
            }

            > > > > > > > 0b1b11f7ef4e0b28c386fe1d194cac85e4b73fbf article {
                padding: 10px;
                margin-top: 5px;
                margin-bottom: 5px;
                border: 1px dashed #666;
                background-color: #EDEDEE;
                border-radius: 8px;
                box-sizing: content-box;
            }

            .colaborador-info {
                display: flex;
                align-items: inherit;
            }

            img.foto {
                height: 170px;
                width: 175px;
                border-radius: 7px;
                margin-bottom: 2px;
            }

            .colaborador-details {

                margin-left: 10px;
                margin-right: 10px;
                font-size: 10px
            }

            .equipamentos-info {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                font-size: 10px;
            }

            .equipamento {
                font-size: 0.8em;
                border: 1px solid #444;
                flex: 4 4;
                box-sizing: border-box;
                border-radius: 6px;
                padding: 7px 10px 7px 10px;
            }

            .equipamento-danificados {
                font-size: 0.8em;
                border: 1.5px solid #969696;
                background-color: #CF3931;
                flex: 4 4;
                box-sizing: border-box;
                border-radius: 6px;
                padding: 7px 10px 7px 10px;
                color: #FFFFFF;
            }

            .equipamento-not-devolvido {
                font-size: 0.8em;
                border: 1.5px solid #969696;
                background-color: #CF3931;
                color: #fff;
                flex: 4 4;
                box-sizing: border-box;
                border-radius: 6px;
                padding: 7px 10px 7px 10px;
            }

            .ticket {
                margin-top: 1%;
                font-size: 0.8em;
                background-color: #EDEDEE;
                border: 1px solid #444;
                padding: 7px 10px 7px 10px;
                border-radius: 6px;
            }

            <<<<<<< HEAD======= > > > > > > > 08f7099 (13.0.0) footer {
                ======= > > > > > > > 60c6525 (13.1.0)=======footer {
                    > > > > > > > 0b1b11f7ef4e0b28c386fe1d194cac85e4b73fbf display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    border-radius: 10px 10px 0 0;
                    <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD background-color: #EDEDEE;
                    ======= > > > > > > > ad7d512 (12.15.0)=======background-color: #EDEDEE;
                    > > > > > > > 60c6525 (13.1.0)=======background-color: #EDEDEE;
                    > > > > > > > 0b1b11f7ef4e0b28c386fe1d194cac85e4b73fbf
                }

                footer p {
                    text-align: center;
                }

                footer .reserva {
                    font-size: 0.9em;
                    text-align: center;
                    justify-items: center;
                }

                footer .version {
                    font-size: 0.9em;
                    color: #777;
                }

                .colaborador-verificar {
                    border: 1px solid #d32f2f;
                }

                <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD======= > > > > > > > 08f7099 (13.0.0)

                /* CSS para pagina notebook reserva*/
                =======.colaborador-info {
                    display: flex;
                    align-items: inherit;
                }

                .equipamentos-info {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 10px;
                }

                img.foto {
                    height: 170px;
                    width: 175px;
                    border-radius: 4px;
                    margin-bottom: 2px;
                }

                .equipamento,
                .equipamento-not-devolvido,
                .ticket {
                    margin-bottom: 5px;
                    font-size: 12px;
                    border: 1px solid #444;
                    padding: 5px;
                }

                ======= > > > > > > > dd37b51 (12.18.1) .equipamento-not-devolvido,
                .equipamento {
                    border-radius: 6px;
                    flex: 4 4;
                    box-sizing: border-box;
                }

                .equipamento-not-devolvido {
                    background-color: #773c3c;

                }

                .equipamento-danificados {
                    font-size: 14px;
                    padding: 10px;
                    margin-bottom: 10px;
                    border: 1px solid #d32f2f;
                    border-radius: 6px;
                    flex: 1 1 calc(15% - 20px);
                    box-sizing: border-box;
                }

                .equipamento,
                .equipamento-not-devolvido,
                .ticket {
                    font-size: 12px;
                    padding: 5px;
                    border: 1px solid #444;
                    margin-top: 5px;
                    margin-left: 1%;
                }

                .serial,
                h2,
                h3 {
                    text-transform: uppercase;
                }

                .ticket {
                    border-radius: 5px;
                }

                <<<<<<< HEAD > > > > > > > 27ca273 (12.11.2)=======
                /* NOTEBOOK RESERVA */
                > > > > > > > dd37b51 (12.18.1)=======
                /* CSS para pagina notebook reserva*/
                > > > > > > > 50aef2a (12.20.5)=======

                /* CSS para pagina notebook reserva*/
                > > > > > > > 0b1b11f7ef4e0b28c386fe1d194cac85e4b73fbf .notebooks-info {
                    display: flex;
                    align-items: center;
                }

                <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD======= > > > > > > > dd37b51 (12.18.1)======= > > > > > > > 08f7099 (13.0.0)======= > > > > > > > 0b1b11f7ef4e0b28c386fe1d194cac85e4b73fbf .notebooks-info img {
                    height: 191px;
                    width: 150px;
                }

                .colaborador-info a {
                    text-decoration: none;
                    margin-left: 7px;
                    color: #e0e0e0;
                }

                <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD=======.colaborador-details {
                    margin-left: 10px;
                    margin-right: 10px;
                }

                > > > > > > > 986b365 (12.17.0)============== > > > > > > > 08f7099 (13.0.0)

                /* CSS para pagina reserva */
                > > > > > > > dd37b51 (12.18.1)======= > > > > > > > 60c6525 (13.1.0)======= > > > > > > > 0b1b11f7ef4e0b28c386fe1d194cac85e4b73fbf .in-stock {
                    background-color: #4caf50;
                }

                .off {
                    background-color: #eb3131;
                    <<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD
                }

                =======
            }

            > > > > > > > dd37b51 (12.18.1)=======
        }

        > > > > > > > 08f7099 (13.0.0)=======
    }

    > > > > > > > 0b1b11f7ef4e0b28c386fe1d194cac85e4b73fbf
