/* FOMATAÇÃO GERAL PARA MARGIN E PADDING */
* {
    margin: 0;
    padding: 0;
}

/* FOMATAÇÃO GERAL PARA TTITULOS E SERIAL */
.serial,
h2,
h3 {
    text-transform: uppercase;
}

body {
    margin: 0 auto;
    width: 55%;
    min-width: 510px;
    background-color: #fff;
    color: #505050;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 0.8em;
}

header {
    background-color: #EDEDEE;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 1080px;
    height: 130px;
}

/* MENU  */
nav {
    background-color: #EDEDEE;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu a {
    display: block;
    color: #505050;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
}

.menu li {
    position: relative;
}
.menu li a:hover{
    color: #E51519;
    text-transform: uppercase;
}

.menu a,
header {
    padding: 10px;
}

/* MENU DROP DOW */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #EDEDEE;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #505050;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #E10003;
}

.dropdown:hover .dropdown-content {
    display: block;
    color: #E10003;
}

.dropdown:hover {
    color: #E10003;
}

.dropdown .dropdown-content .dropdown {
    position: relative;
}

.dropdown .dropdown-content .dropdown-content {
    top: 0;
    left: 100%;
    margin-left: 1px;
    display: none;
}

.dropdown-content .dropdown:hover .dropdown-content {
    display: block;
}
/* CONTEUDO */
.ativo,
.desativados {
    justify-content: center;
    background-color: #37B4C8;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
    color:beige;
}

.desativados {
    background-color: #D53E36;
    border-radius: 10px;
    margin-top: 10px;
}

article {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px dashed #666;
    background-color: #EDEDEE;
    border-radius: 8px;
    box-sizing: content-box;
}

.colaborador-info {
    display: flex;
    align-items: inherit;
}

img.foto {
    height: 170px;
    width: 175px;
    border-radius: 7px;
    margin-bottom: 2px;
}

.colaborador-details {

    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px
}

.equipamentos-info {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 10px;
}

.equipamento {
    font-size: 0.8em;
    border: 1px solid #444;
    flex: 4 4;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 7px 10px 7px 10px;
}

.equipamento-danificados {
    font-size: 0.8em;
    border: 1.5px solid #969696;
    background-color: #CF3931;
    flex: 4 4;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 7px 10px 7px 10px;
    color: #FFFFFF;
}

.equipamento-not-devolvido {
    font-size: 0.8em;
    border: 1.5px solid #969696;
    background-color: #CF3931;
    color: #fff;
    flex: 4 4;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 7px 10px 7px 10px;
}

.ticket {
    margin-top: 1%;
    font-size: 0.8em;
    background-color: #EDEDEE;
    border: 1px solid #444;
    padding: 7px 10px 7px 10px;
    border-radius: 6px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #EDEDEE;
}

footer p {
    text-align: center;
}

footer .reserva {
    font-size: 0.9em;
    text-align: center;
    justify-items: center;
}

footer .version {
    font-size: 0.9em;
    color: #777;
}

.colaborador-verificar {
    border: 1px solid #d32f2f;
}

/* CSS para pagina notebook reserva*/
.notebooks-info {
    display: flex;
    align-items: center;
}

.notebooks-info img {
    height: 191px;
    width: 150px;
}

.colaborador-info a {
    text-decoration: none;
    margin-left: 7px;
    color: #e0e0e0;
}
.in-stock {
    background-color: #4caf50;
}

.off {
    background-color: #eb3131;
}