body {
    font-family: 'Bree Serif', serif;
}

.main {
    margin: 0 auto;
    max-width: 1080px;
    min-width: 640px;
    padding: 0px;
}

h1 {
    text-align: center;
}

article {
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: #ccc;
    padding: 10px;
    margin-top: 20px;
}
img{
    max-width: 90%;
    height: 291px;
    border-radius: 7px;
}
h2 {
    margin-left: 10px;
}
h3{
    margin-left: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

.colaborador-verificar{
    border: 1px solid #c21c1c;
}
.colaborador-info {
    display: flex;
}
.colaborador-info a{
    text-decoration: none;
    margin-left: 7px;
    color: #000;
}
.colaborador-img {
    flex: 0 0 22%;
}

.colaborador-details {
    flex: 0 0 60%;
    font-size: 14px;
}
.equipamentos-info{
    display: flex;
    gap: 5px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.equipamento {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0 0 0 10px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 6px;
    flex: 0 0 18%;
}
.equipamento-danificados {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 0 0 0 10px;
    border: 1px solid #eb3131;
    background-color: whitesmoke;
    border-radius: 6px;
    flex: 0 0 18%;
}
.serial{
    text-transform: uppercase;
}
.ticket{
    margin-bottom: 15px;
    padding: 0 0 0 10px;;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 5px;
}
