body {
    font-family: 'Bree Serif', serif;
    background-color: whitesmoke;
}

h2 {
    margin-left: 10px;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

table {
    width: 65%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

thead {
    background-color: #333;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}
/* Estilos adicionais para o menu lateral */
.sidebar-menu {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    color: white;
    padding: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
}

.sidebar-menu a:hover {
    background-color: #575757;
}