body {
    font-family: 'Bree Serif', serif;
}

.corpo {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

header h1 {
    text-align: center;
}

.inventario {
    margin-top: 20px;
}

.colaboradores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
}

.colaboradores img {
    max-width: 200px;
    height: auto;
    margin-right: 10px;
}
article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.colaboradores p {
    margin: 5px 0;
    display: inline;
}

.linha {
    flex-basis: 100%;
    width: 100%;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 0;
}