body {
    font-family: 'Bree Serif', serif;
}
.main{
    margin: 0 auto;
    width: 960px;
    padding: 0px;
    
}
h1{
    text-align: center;
}
article{
    border: 1px solid #ccc;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: #ccc;
}
h2{
    margin-left: 10px;
}
footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
