body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav a:hover {
    background-color: #0056b3;
}

.menu-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    top: 100%;
    /* Garante que o menu suspenso fique abaixo do item de menu */
}

.menu-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.card-box {
    max-width: 840px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.caixa-card {
    background-color: #ecf0f1;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.caixa-card h2 {
    margin: 0;
    color: #34495e;
}

.equipamento-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.equipamento-card h3 {
    margin: 0;
    color: #2c3e50;
}

.equipamento-card p {
    margin: 5px 0;
    color: #7f8c8d;
}


.equipamento-card p strong {
    color: #2c3e50;
}

.equipamento-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.equipamento-card {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
}

.attention-info {
    background-color: #fff3cd;
    border-left: 5px solid #ffa502;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    color: #856404;
    font-weight: bold;
}

footer {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
}