/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    /* Fonte atualizada para Roboto */
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Header */
header {
    background-color: #007bff;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header nav a:hover {
    background-color: #0056b3;
}

.menu-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    top: 100%;
    /* Garante que o menu suspenso fique abaixo do item de menu */
}

.menu-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Container Principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Cards */
.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: left;
    position: relative;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 3px solid #ddd;
}

.devices {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.device {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    flex: 1;
    min-width: 200px;
}

h2 {
    color: #333;
}

.status {
    font-weight: bold;
}

.status.ativo {
    color: green;
}

.status.desativado {
    color: red;
}

/* Footer */
footer {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
}
